:root{
    /*Primary*/
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /*Neutral*/
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--Cream);
    position: relative;
    
}
.content{
    display: flex;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, 15%);
    background-color: var(--White);
    border-radius: 10px;
   
}
.product-desktop{
    max-width: 23vw;
    height: 100%;
    border-radius: 10px 0px 0px 10px; 
    
}
.col-2{
    padding: 1.5em;
    height: 100%;
    
}
.top, h1, p, .price, .button{
    padding-bottom: 10px;
}
.top{
    letter-spacing: 5px;
    text-transform:uppercase;
    
}
h1,h2{
    font-family: 'Fraunces', serif;
  
}
h1{
    color: var(--Very-dark-blue);
}
h2{
    color: var(--Dark-cyan);
 
}

p{
    font-size: 14px;
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
    
}
h5{
    text-decoration:line-through;
    font-weight: 100;
    color: var(--Dark-grayish-blue);
    font-size: 14px;
    position: relative;
    left: 10%;
    bottom: 5px;

    
    
}
.price, .button{
    display: inline-block;
    
}
.button{
    background-color: var(--Dark-cyan);
    color: var(--White);
    padding: 0.8em 5em;
    text-decoration: none;
    margin-top: 1em;
    border-radius: 5px;
    font-size: 14px;
    
    
}
.button:hover{
    background-color: var(--Very-dark-blue);
}
.button img{
    padding-right: 0.5em;
}
@media screen and (max-width: 768px){

    .content{
        transform: translate(-50%, 50%);
        display:block;
        height: 50vh;
        width: 45vw;
    }
    
    .col-2{
        padding: 0.9em;
    }
    .product-desktop{
        display: none;
        
    }
    .product-mobile{
        display: block;
        width: 45vw;
        border-radius: 10px 10px 0px 0px; 

    }
    h1{
        font-size: 14px;
    }
    h2{
        font-size: 1.3em;
    }
    h5{
        font-size: 0.6em;
        text-align: center;
        left: 2%;
        bottom: 3px;
    }
    p{
        font-size: 0.5em;
    }
    
    .button{
        padding: 0.8 4em;
        font-size: 8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .button img{
        width: 1.5em;
    }
}